libgeda/net.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
           xmlns:libgeda="http://www.gpleda.org/schemas/geda-gaf/libgeda"
           targetNamespace="http://www.gpleda.org/schemas/geda-gaf/libgeda">

  <xs:include schemaLocation="types.xsd" />

  <xs:attributeGroup name="net_attributes_">
    <xs:attributeGroup ref="libgeda:end_points_" />
    <xs:attribute name="color" type="libgeda:object_color_" use="required" />
  </xs:attributeGroup>
  
  <xs:complexType name="net_">
    <xs:attributeGroup ref="libgeda:net_attributes_" />
  </xs:complexType>

</xs:schema>